@font-face {
  font-family: "anticon"; /* Project id 3129339 */
  src: url('iconfont.woff2?t=1658366437584') format('woff2'),
       url('iconfont.woff?t=1658366437584') format('woff'),
       url('iconfont.ttf?t=1658366437584') format('truetype'),
       url('iconfont.svg?t=1658366437584#anticon') format('svg');
}

.anticon {
  font-family: "anticon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon-lvtong_peizhiguanli:before {
  content: "\e63b";
}

.anticon-icon_qualityControl:before {
  content: "\e624";
}

.anticon-icon_guanlian:before {
  content: "\e61b";
}

.anticon-tag_level-4:before {
  content: "\e61c";
}

.anticon-tag_level-3:before {
  content: "\e61d";
}

.anticon-icon_jiankangka:before {
  content: "\e61e";
}

.anticon-icon_shenfenzheng:before {
  content: "\e61f";
}

.anticon-icon_huoqu:before {
  content: "\e620";
}

.anticon-logo_docare:before {
  content: "\e621";
}

.anticon-icon_daoruhuanzhe:before {
  content: "\e622";
}

.anticon-logo_mdsd:before {
  content: "\e623";
}

.anticon-icon_jiuzhenka:before {
  content: "\e615";
}

.anticon-icon_jiechuguanlian:before {
  content: "\e616";
}

.anticon-icon_fenzhenliebiao:before {
  content: "\e617";
}

.anticon-icon_shanchu:before {
  content: "\e618";
}

.anticon-icon_qingkong:before {
  content: "\e619";
}

.anticon-icon_dayin:before {
  content: "\e61a";
}

.anticon-icon_zhuyi:before {
  content: "\e603";
}

.anticon-icon_yujianfenzhen:before {
  content: "\e604";
}

.anticon-icon_quxiaoguanlian:before {
  content: "\e605";
}

.anticon-icon_querenfenzhen:before {
  content: "\e606";
}

.anticon-icon_quxiao:before {
  content: "\e607";
}

.anticon-icon_shijian:before {
  content: "\e608";
}

.anticon-tag_level-1:before {
  content: "\e609";
}

.anticon-icon_gouxuan:before {
  content: "\e60a";
}

.anticon-icon_baocun:before {
  content: "\e60b";
}

.anticon-icon_daochuexcel:before {
  content: "\e60c";
}

.anticon-icon_zhongzhi:before {
  content: "\e60d";
}

.anticon-icon_buluxinxi:before {
  content: "\e60e";
}

.anticon-icon_rili:before {
  content: "\e60f";
}

.anticon-icon_saomiaocaiji:before {
  content: "\e610";
}

.anticon-tag_level-2:before {
  content: "\e611";
}

.anticon-icon_yuanqianjijiu:before {
  content: "\e612";
}

.anticon-icon_sousuo:before {
  content: "\e613";
}

.anticon-icon_tishi:before {
  content: "\e614";
}

