<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdsd.cloud.controller.registration.mapper.MedClinicCheckMasterMapper">

    <update id="bindingCardInfoList" parameterType="Long">
        update MED_CLINIC_CHECK_MASTER set EVENTID = #{eventId}
        where REG_ID in
        <foreach collection="ids" item="regId" open="(" separator="," close=")">
            #{regId}
        </foreach>
    </update>
</mapper>