<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdsd.cloud.controller.common.mapper.CommonMapper">
    <!-- 公共 - 推送数据到DAS -->
    <select id="pushDataToDas" resultType="java.lang.String">
        SELECT T2.TO_HOSPITAL
        FROM MED_PHEP_PATIENTS T1
        LEFT JOIN MED_PHEP_MEDICAL_RECORDS T2 ON T1.PATIENT_ID = T2.PATIENT_ID
        <where>
            T1.MISSION_ID = #{missionId,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>