<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdsd.cloud.mapper.MedPhepRescuersMapper">
    <select id="pageList" resultType="com.mdsd.cloud.entity.MedPhepRescuersEntity">
        SELECT *
        FROM MED_PHEP_RESCUERS
    </select>
</mapper>